html,body,div,p,ul,li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul,li{
  list-style: none;
}
a{
  color: #2c2e3b;
  text-decoration: none;
}
body{
  background-image: linear-gradient(#f9f9f9 50%, #fff);
}
/* 修改富文本编辑器添加代码后样式 */
pre{
  border-radius: 5px;
  padding: 10px;
  color: rgb(231, 227, 227);
  background-color: #2d2d2d!important;
}
